@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding: 0 1.3rem;
}

/*Mobile version*/
.card {
  max-width: 21.8rem;
  margin: 10vh auto;
  border-radius: 1rem;
  overflow: hidden;
}

.main-picture {
  height: 16.066rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(110, 24, 163, 0.7))), url(./images/image-header-mobile.jpg);
  background: linear-gradient(to right, rgba(110, 24, 163, 0.7)), url(./images/image-header-mobile.jpg);
  background-position: center;
  background-size: cover;
}

.details-area {
  background-color: #1b1938;
  padding: 2.866rem 2.266rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3rem;
}

.details-area h1 {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
}

.details-area h1 span {
  color: #aa5cdb;
}

.details-area p {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1.6rem;
}

.details-area .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.89rem;
}

.details-area .statistics h2 {
  font-family: "Inter", sans-serif;
  padding-bottom: 0.55rem;
}

.details-area .statistics span {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.86rem;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
}

.attribution p:not(:last-child) {
  margin-bottom: 0.6rem;
}

.attribution a {
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  body {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    max-width: 74rem;
    height: 29.53rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 0;
  }
  .card .main-picture {
    width: 48%;
    height: 100%;
  }
  .card .details-area {
    width: 52%;
    padding: 4.8rem 8.13vw 4.33rem 4.8rem;
    text-align: left;
    gap: 1.55rem;
  }
  .card .details-area h1 {
    font-size: 2.2rem;
    line-height: 2.9rem;
  }
  .card .details-area p {
    line-height: 1.7em;
  }
  .card .details-area .statistics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4.2rem;
    padding-top: 1.6rem;
  }
}

@media screen and (min-width: 1800px) {
  .card .details-area {
    padding: 4.8rem 8.13rem 4.33rem 4.8rem;
  }
}
/*# sourceMappingURL=style.css.map */